.container {
  margin-right: -2.5vw;
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .film_promo_img_container {
    display: flex;
    overflow-x: visible;
  }

  &:not(:first-child) {
    margin-top: 4rem;
  }
}
