.container {
  color: var(--main-inversion);
  font-size: 1.6rem;
  background-color: rgba(var(--main-bg-rgb), 0.6);
  border-left: 4px solid var(--main-inversion);
  padding: 0.7rem 5rem 0.7rem 1.4rem;
}
