html {
  color: var(--main-text);
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.page_container {
  width: 95vw;
  margin: 0 auto;
}

.ml_10 {
  margin-left: 10px;
}

.mr_10 {
  margin-right: 10px;
}
