.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 2.3rem;
  font-weight: 600;
  background: none;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  padding: 10px 25px;

  &:hover {
    opacity: 0.7;
  }

  & + & {
    margin-left: 1.5rem;
  }
}

.solid {
  color: var(--main-bg);
  background: var(--main-inversion);
}

.transparent {
  color: var(--main-inversion);
  background: rgba(var(--main-bg-rgb), 0.7);
}

.icon {
  aspect-ratio: 1 / 1;
  background: transparent;
  border: 2px solid;
  border-color: var(--main-inversion);
  border-radius: 50%;
  padding: 0.8rem;

  &:hover {
    opacity: 1;
    background-color: rgba(var(--main-inversion-rgb), 0.2);
  }

  &.transparent {
    background: rgba(var(--main-bg-rgb), 0.8) !important;
    border-color: var(--main-grey);
    transition: 0.3s;

    &:hover {
      border-color: var(--main-inversion);
    }

    svg {
      path {
        fill: var(--main-inversion) !important;
      }
    }
  }
}
