.container {
  position: relative;

  &:not(:first-child) {
    margin-left: 1rem;
  }

  .film_promo_img {
    position: relative;
    flex: 0 0 auto;
    width: 16vw;
    height: 9vw;
    background-image: url("../../../../assets/img/HorizontalHomePage.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    z-index: 2;
    cursor: pointer;
  }

  .film_promo_preview {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);

    &.open {
      z-index: 10;
    }
    &.close {
      z-index: 1;
    }

    .film_promo_preview_content {
      width: 100%;
      height: 100%;
      background-color: var(--second-bg);
      box-shadow: var(--black) 0px 5px 15px;
      border-radius: 5px;

      &.open {
        transform: scale(1);
        animation: film_promo_preview_content_open 0.3s;
      }
      &.close {
        transform: scale(0);
        animation: film_promo_preview_content_close 0.3s;
      }

      .preview_img {
        width: 100%;
        aspect-ratio: 16 / 9;
        background-image: url("../../../../assets/img/HorizontalHomePage.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      .preview_content {
        padding: 2.5rem;

        .preview_buttons_container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 2rem;

          .preview_buttons_left_side {
            display: flex;

            .play_icon {
              color: var(--main-inversion);
            }

            .plus_icon {
              margin: 0 1rem;
            }
          }
        }

        .film_brief_info {
          display: flex;
          align-items: center;
          color: var(--main-grey);
          font-size: 1.8rem;
          margin-bottom: 2rem;

          .match_percent {
            color: var(--green);
          }

          span {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@keyframes film_promo_preview_content_open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes film_promo_preview_content_close {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
