.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  color: var(--main-grey);
  max-width: 1200px;
  margin: 15rem auto 0;
  padding: 0 4%;

  .social_media_container {
    display: flex;
    gap: 0 2rem;
    margin-bottom: 2rem;

    .icon_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
    }
  }

  .link_container {
    display: flex;

    .link_column {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .link {
        cursor: pointer;
        font-size: 1.4em;
        transition: 0.3s;
        margin-bottom: 1em;

        &:hover {
          color: var(--main-inversion);
          text-decoration: underline;
        }
      }
    }
  }

  .copywright {
    font-size: 1.4rem;
  }
}
