:root {
  --black: #000;
  --main-bg: #141414;
  --main-bg-rgb: 20, 20, 20;
  --second-bg: #181818;
  --third-bg: #242424;
  --main-inversion: #fff;
  --main-inversion-rgb: 255, 255, 255;
  --main-grey: #919191;
  --green: #46d369;
  --logo: #d81f26;
}
