$tooltip-vertical-padding: 1rem;

.container {
  position: relative;
  overflow: visible;

  &:hover .tooltip_text {
    visibility: visible;
  }

  &:hover .triangle {
  }

  .tooltip_text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: 0.3s;
    color: var(--main-bg);
    font-size: 1.8rem;
    background-color: var(--main-inversion);
    border-radius: 4px;
    width: max-content;
    visibility: hidden;
    padding: $tooltip-vertical-padding 1.5rem;

    .tooltip_triangle_container {
      position: relative;

      .triangle {
        position: absolute;
        bottom: calc(1px - $tooltip-vertical-padding);
        transform: translate(-50%, 100%);
        left: 50%;
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 1rem solid var(--main-inversion);
      }
    }
  }
}
