.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 50vw;
  max-height: 100vh;
  z-index: 2;

  .film_banner {
    width: 500px;

    .title {
      font-size: 6rem;
    }

    .description {
      font-size: 1.7em;
      line-height: 2rem;
      margin-top: 1rem;
    }
  }

  .banner_buttons_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.2rem;

    .banner_button_size {
      display: flex;
      align-items: center;
    }
  }

  .right_rotate_icon {
    color: var(--main-inversion);
  }

  .bookmark {
    margin-left: 2rem;
    margin-right: -2.5vw;
  }
}

.film_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vw;
  z-index: 1;
  background-image: url("../../../assets/img/Hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.category_preview_container {
  position: relative;
  z-index: 2;
  margin-top: -20rem;
}
